*{
  margin: 0;
  padding: 0;
}
.super{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  height: 100px;
  align-items: center;
}
.div-one{
  background-color: lightgreen;
  width: 50px;
}
.div-two{
  background-color: lightblue;
  width: 50px;
}
.div-three{
  background-color: lightgreen;
  width: 50px;
}
.div-four{
  background-color: lightblue;
  width: 50px;
}